/* Tipografia */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #00254f;
    color: #fff;
    padding: 10px 20px;
}

/* Navegação */
nav {
    background-color: #00254f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    text-align: center;
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex; 
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
    margin-left: auto; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav ul li.account a {
    font-size: 1em;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background-image: url('../images/background-hero.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero-text h1 {
    font-size: 2.5em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-text p {
    font-size: 1.2em;
}

/* Formulário de Pesquisa */
.search-form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 500px;
    margin: 20px auto;
}

.search-form .form-group {
    margin-bottom: 15px;
}

.search-form label {
    display: block;
    margin-bottom: 5px;
}

.search-form select,
.search-form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-form button {
    padding: 10px 20px;
    background-color: #f90;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #e07b00;
}

/* Parceiros */
.partners {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}

.partner-logos img {
    margin: 0 10px;
    max-height: 50px;
}

/* Depoimentos */
.testimonials {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.testimonial {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.testimonial:hover {
    transform: translateY(-10px);
}

/* Rodapé */
footer {
    background-color: #00254f;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    margin: 10px 0 0;
}

.contact-info {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.contact-info i {
    margin-right: 5px;
}
